<div class="toolBar">
    <img src="assets/leftarrow.png" class="toolBarArrow" alt="" srcset="">
    <div class="desc">
        Make sure your e-KTP details are clearly <br> visible and does not cross the guidelines
    </div>
</div>



<div style="margin-top: 50%; text-align: center;">
    <div *ngIf="webcamImage">
        <img class="previewImg" [src]="webcamImage.imageAsDataUrl" />
    </div>
    <webcam [width]="webcamWidth" [height]="webcamHeight" *ngIf="!webcamImage" [trigger]="triggerObservable"
        [videoOptions]="videoOptions" (imageCapture)="handleImage($event)" (initError)="handleInitError($event)"
        [switchCamera]="nextWebcamObservable"></webcam>
</div>


<div *ngIf="!webcamImage" class="captureButton actionBtn" title="Take Picture">
    <!-- <div class="col-6">
        <img src="assets/cameraRotate.png" alt="rorate" (click)="rotateCamera(true)" class="photoCapButton">
    </div> -->
    <div class="">
        <img src="assets/cameraClick.png" alt="phoneCamera" (click)="triggerSnapshot()" class="photoCapButton">
    </div>

</div>

<div *ngIf="webcamImage" class="retakeScreen row">
    <div class="retakeScreenCol col-6">
        <button type="button" class="retakeTakeButton btn ripple" (click)="retakephoto()">
            Retake Photo
        </button>
    </div>
    <div class="retakeScreenCol col-6">
        <button type="button" class="nextButton btn ripple" (click)="toOldCom()">
            Next
        </button>
    </div>
</div>